CLAUDE.md
AGENTS.md
*SETUP.md
.ai
.claude
.idea
.env

.ai/.last_prompt.txt
.ai/.cache/

.gocache/

docker-compose.local.yml
docker-compose.cloud.yml
client_secret*.json

/static
/community
/migrate

# Tailwind CSS
/bin/tailwindcss
/static/output.css