CLAUDE.md
AGENTS.md
*SETUP.md
.claude
.idea
.env

# Local Go build cache
.gocache/

docker-compose.local.yml
docker-compose.prod.yml
client_secret*.json

/static
/community
/migrate

# Tailwind CSS
/bin/tailwindcss
/static/output.css